@import url('https://fonts.googleapis.com/css?family=Cookie|Rock+Salt|Nanum+Gothic+Coding');
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css");
.wrapper{
  display: grid;
  grid-template-columns: repeat(12,1fr);

}
.padding-left{
  padding-right:10px;
}
.pt-2{
  padding-top:10px;
}
.left-span {
  display: inline-block;

}
.list{
  grid-column: span 5;
}
.content{
  grid-column: span 7;
}
.image{
  grid-column: span 6;

}
.bg-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff
}
.movie-header{
font-size:28px;
letter-spacing: 3px;
font-weight:bold;
text-transform: uppercase;
font-family: 'Rock Salt', cursive;

}
.left-col{
  grid-column: span 6;
  padding-right:5px;
  border-right:3px #fff solid
}
.img-fluid-cast{
  width:auto;
  height: 200px;
}
.img-fluid-poster{
  width:auto;
  height: 187px;
}
.fantasy{
  text-align:center;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 21px
}
.danger{
  align-self: center;
  background:lightsalmon;
  color:#000;
  padding:5%;
  text-align:center;
  text-transform: uppercase;
  font-weight: bolder;


}
.right-col{
  padding-left:20px;
  grid-column: span 6;
}
.movie-tag{
  font-family: 'Cookie',cursive;
  font-size: 32px;
}

.lead{
  font-size:24px;
  text-transform: capitalize;
  text-align:justify;
  line-height: 35px;


/*  font-family: 'Cookie', cursive;*/

  font-family: 'Nanum Gothic Coding', monospace;

}
.text-desc{
  font-size:24px
}
.d-block{
  display: block;

}
.d-none{
  display: none;
}
.details{
  color:#fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 25px 0 25px ;
}

.list-content{
  grid-column: span 6;

}

.float-right{
  float:right;
}
.list-style{
  list-style-type: none;


  border-bottom: 1px solid #333;
  border-right:1px solid #333;
}
.float-left{
  float:left;
}
.pagination {
  display: inline-block;
  grid-column: span 12
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #666
}
.btn-info{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 10px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
}
.white-text{
  color:#fff;
  text-decoration: none;

}
nav {
  list-style-type: none;
  margin:"20px";
  padding: 10px;

  overflow: hidden;
  background-color: #333;
}
.input-in-nav{
  width: 140%;
  margin-right: -10%;
  height:30px;
}

